.lunarDateText{
    x: "25%";
    width: "100%-10";
    font-family: "System-Regular";
    fill: "white";
    font-size: "25"; 
    text-length: "16";
    font-weight: "bold";
    text-anchor: "middle";
}

#lunarYearText {
    x: "75%";
    y: "25%";
    width: "100%-10";
    font-family: "System-Regular";
    fill: "white";
    font-size: "25"; 
    text-length: "32";
    font-weight: "bold";
    text-anchor: "middle";
}
