#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.clockImage {
  width: 140;
  height: 140;
  fill: white;
}

#hour_num_1 {
  x: 5;
  y: 5
}

#hour_num_2 {
  x: 155;
  y: 5
}

#minute_num_1 {
  x: 5;
  y: 150;
}

#minute_num_2 {
  x: 155;
  y: 150;
}